{% extends "base.html" %}

{% block content %}
<h1>
  {{ account.name }} — Ledger
  {% if entity_name %}
    <small style="font-weight: normal;">
      ({{ entity_name }})
    </small>
  {% endif %}
</h1>

<a href="{{ url_for('accounts_ui.list') }}">
    ← Back to account list
</a>

<hr>

{% if entity_name %}
    <iframe
      src="/dash/ledger?account_id={{ account.id }}&account_name={{account.name}}&entity_name={{entity_name | urlencode }}{% if txn_id %}&txn_id={{ txn_id }}{% endif %}"
      style="width:100%; height:85vh; border:none;">
    </iframe>

{% else %}
    <iframe
        src="/dash/ledger?account_id={{ account.id }}&account_name={{account.name}}{% if txn_id %}&txn_id={{ txn_id }}{% endif %}"
        style="width:100%; height:85vh; border:none;">
    </iframe>
{% endif %}
{% endblock %}

